.color-swatches {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-evenly; /* Distributes space evenly between items */
    align-items: center; /* Aligns items vertically */

}  

.color-swatch-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
    
.color-swatch {
    width: 40px;
    height: 40px;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; /* Ensure the swatch is correctly positioned */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.6);
}

.color-swatch.active {
    border: 2px solid #ffffff;
}
.color-swatch:hover {
    border: 2px solid #ffffff;
}
    
.color-swatch input[type='radio'] {
    display: none;
}

.color-swatch input[type='radio']:checked + label {
    border: 2px solid #000000;
}
    
.color-name {
    display: none; /* Hide by default */
    text-align: center; /* Center the text below the swatch */
    font-size: 1rem; /* Adjust the font size */
}
    
.color-name.show-name {
    display: block; /* Only display if the show-name class is added */
}

.size-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}
  
.size-option {
    border: 0.1rem solid white;
    background-color: #3a5687;
    color: white;
    padding: 0.3rem 0.6rem;
    margin: 0.3rem;
    cursor: pointer;
}

.size-option.active {
    background-color: white;
    color: #3a5687;
}

.size-option:hover {
    background-color: white;
    color: #3a5687;
}